* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #ffffff;
    color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    border-bottom: 1px solid #eee;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #dd7df0;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #f07dcd;
}

.btn-login {
    background: #cf7df0;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
}

table { width: 100%; border-collapse: collapse; background: white; margin-top: 20px; 
        }

        th, td { border: 1px solid #f699e8; padding: 10px; text-align: center; 
        }

        th { background: #411212; color: white; 
        }

        a { display: inline-block; margin-top: 15px; 
        }

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.subtitle {
    color: #f07dec;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.desc {
    margin-bottom: 25px;
    color: #f07dcc;
}

.hero-btn {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #7da1f0;
    color: #f8f1e4;
    padding: 10px 22px;
    border-radius: 25px;
    text-decoration: none;
}

.btn-outline {
    border: 2px solid #468dc7;
    color: #de56ea;
    padding: 10px 22px;
    border-radius: 25px;
    text-decoration: none;
}

.hero-image img {
    width: 360px;
}

.books {
    padding: 60px;
    background: #f8fafc;
}

.books h2 {
    text-align: center;
    margin-bottom: 40px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.book-card {
    background: #f8d7d7;
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.book-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.book-card h3 {
    font-size: 16px;
    margin: 12px 0 5px;
}

.book-card p {
    font-size: 14px;
    color: #666;
}

.book-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 14px;
    background: #2c7a7b;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
}